<footer>
    <h1>Ballare Dance Boutique</h1>

     <div class="footer-container">
        <div class="footer-redes-sociales">
            <h2>Redes Sociales</h2>
            <ul>
                <li><a href="https://www.facebook.com/people/Ballare-Dance-Boutique/61560556880719/?ref=_xav_ig_profile_page_web">Facebook</a></li>
                <li><a href="https://www.instagram.com/ballaredanceboutique.hn/">Instagram</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=50496602336&utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAb21jcAOiygdleHRuA2FlbQIxMQBzcnRjBmFwcF9pZA81NjcwNjczNDMzNTI0MjcAAacLqcxB8gmkNevhgwxbxTSBqZ9R7ZuMvP8KobnQmDNzuq8yHdff03l6QmOOew_aem_zRlcuOUrfc6bCGnocOgJ0w">WhatsApp</a></li>
            </ul>
        </div>

        <h2>Mas informacion</h2>

        <div class="footer-informacion">
            
            <div class="footer-contacto">
                <h3><a href="contacto.html">Contacto</a></h3>
            </div>

            <div class="footer-faq">
                <h3><a href="faq.html">Preguntas Frecuentes</a></h3>
 
            </div>
        </div>

    </div>

     <span>Ballare Dance Boutique - Todos los Derechos Reservados &copy;</span>
</footer>