<div class="contenedor-ubicacion">
    <h1>Nuestra ubicación:</h1>
    <div class="ubicacion">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15378.486396339182!2d-88.04179028714393!3d15.504773095978589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f665ba8e563f525%3A0xf9bf360036b6b56b!2sBallare%20Dance%20Boutique%20By%3A%20Breidy%20Valladares!5e0!3m2!1ses-419!2shn!4v1765128557509!5m2!1ses-419!2shn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>